---
import { Image } from "astro:assets";
import logo from "../images/hoppscotch.svg";
---
<nav class=" flex items-center top-0 left-0 overflow-hidden z-10 fixed bg-slate-950 h-4">
    <Image src={logo} alt="company logo" />
</nav>